{% extends "layout.html" %}
{% block body %}
{% if not files %}
	<p><em>Unbelievable. No files here</em></p>
{% else %}
	<form>
		<p>Select a file to run through Word Count</p>
		<div class=files>
		{% for file in files %}
			<input type=radio id=file_select_button name=file value={{ file.file_id }}>
			<label for={{ file.file_id }}>{{ file.json['name'] }}</label>
		{% endfor %}
		</div>
		<div>
			<button type=submit>Count!</button>
		</div>
	</form>
{% endif %}
	<div>
		{% if page > 1 %}
			<a href=./?page={{ page-1 }}>Prev Page</a>
		{% else %}
			Prev Page
		{% endif %}
		<a href=./?page={{ page+1 }}>Next Page</a>
	</div>
{% endblock %}